@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
}

/* 커스텀 */
.table-box-type-1 thead th, .table-box-type-1 tbody th,
	.table-box-type-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btns-text-link {
	color: #1f1f1f;
}

.btns-text-link:hover {
	text-decoration: underline;
	color: blue;
}
/* 로그인페이지 */
* {
	box-sizing: border-box;
}

body h1 {
	color: orange;
}

/* 로그아웃 버튼 숨기기 */
.logout {
	display: none;
}

/* 로그인 상태일 때 로그아웃 버튼 보이기 */
.login .logout {
	display: block;
}

/* 로그인 버튼 숨기기 */
.logout {
	display: none;
}

/* 로그아웃 상태일 때 로그인 버튼 보이기 */
.login .logout {
	display: block;
}

.login {
	display: block;
}

.login:hover {
	color: blue;
}

.button {
	display: inline-block;
}

.button:hover {
	color: red;
}

header>div>ul>li>ul {
	display: none;
	position: absolute;
	background-color: white;
}

header>div>ul>li:hover>ul {
	display: block;
}

