@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body .toastui-editor-contents, html>body .ProseMirror, html>body .toastui-editor-md-mode
	{
	font-family: 'GmarketSansMedium', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
}

/* 테마 */
.btn-theme-toggle>span:first-child {
	display: none;
}

html[data-theme="dark"] .btn-theme-toggle>span:first-child {
	display: inline;
}

html[data-theme="dark"] .btn-theme-toggle>span:last-child {
	display: none;
}
/*로고*/
.logo {
	height: 4rem; /* 로고의 높이를 조정하여 크기를 변경할 수 있습니다. 필요한 크기로 조정해주세요. */
}

.container {
	justify-content: flex-around; /* 요소들을 왼쪽 정렬로 설정 */
}

/* 커스텀 */
.table-box-type-1 thead th, .table-box-type-1 tbody th,
	.table-box-type-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: #1f1f1f;
}

.btn-text-link:hover {
	text-decoration: underline;
	color: deepskyblue;
}

header>div>ul>li>ul {
	display: none;
	position: absolute;
}

header>div>ul>li:hover>ul {
	display: block;
}

/*팝업*/
.layer {
	display: none;
	width: 500px;
	height: 500px;
	background-color: skyblue;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 11;
	width: 500px;
}

.layer-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.layer>div {
	padding: 20px;
}

.close-btn {
	width: 70px;
	height: 70px;
	border: 4px solid white;
	position: relative;
}

.close-btn>div {
	background-color: red;
	height: 10%;
	width: 100%;
	position: absolute;
	top: 30%;
	left: 50%;
	transition: transform .2s cubic-bezier(1, .48, 0, .96), top .2s;
	transform: translateX(-50%) translateY(-50%) rotate(0);
}

.close-btn>div:last-child {
	top: 70%;
}

.close-btn:hover>div {
	top: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.close-btn:hover>div:last-child {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

/* 댓글부 */
html div>form>p>button:hover {
	text-decoration: underline;
	color: red;
}

.reply>p {
	margin-top: 15px;
}
/* before 메인화면 css */
/* @import
	url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap")
	;

@import
	url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap")
	;

.beforMain {
	margin: 0;
	padding: 0;
	height: 100vh;
	color: white;
	background: #339966;
	font-family: "Cormorant Garamond", serif;
	text-transform: uppercase;
}

.section-heading {
	font-size: clamp(1rem, 5vw, 5rem);
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.5em;
	margin-right: -0.5em;
	color: hsl(0, 0, 80%);
	width: 90vw;
	max-width: 1200px;
}

header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	width: 100%;
	z-index: 3;
	height: 7em;
	font-family: "Bebas Neue", sans-serif;
	font-size: clamp(0.66rem, 2vw, 1rem);
	letter-spacing: 0.5em;
}

section {
	height: 100%;
	width: 100%;
	top: 0;
	position: fixed;
	visibility: hidden;
}

section .outer, section .inner {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

section .bg {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background-size: cover;
	background-position: center;
}

section .bg h2 {
	z-index: 2;
}

section .bg .clip-text {
	overflow: hidden;
}

.first .bg {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0.3) 100%),
		url(https://images.unsplash.com/photo-1617478755490-e21232a5eeaf?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU1NjM5NA&ixlib=rb-1.2.1&q=75&w=1920);
}

.second .bg {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0.3) 100%),
		url(https://images.unsplash.com/photo-1617128734662-66da6c1d3505?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzc3NTM3MA&ixlib=rb-1.2.1&q=75&w=1920);
}

.third .bg {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0.3) 100%),
		url(https://images.unsplash.com/photo-1617438817509-70e91ad264a5?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDk4Mg&ixlib=rb-1.2.1&q=75&w=1920);
}

.fourth .bg {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0.3) 100%),
		url(https://images.unsplash.com/photo-1617412327653-c29093585207?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDgzMQ&ixlib=rb-1.2.1&q=75&w=1920);
}

.fifth .bg {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0.3) 100%),
		url("https://images.unsplash.com/photo-1617141636403-f511e2d5dc17?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODAzMjc4Mw&ixlib=rb-1.2.1&q=75w=1920");
	background-position: 50% 45%;;
}

h2 * {
	will-change: transform; */


/* 1페이지 */