@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body .toastui-editor-contents, html>body .ProseMirror, html>body .toastui-editor-md-mode
	{
	font-family: 'GmarketSansMedium', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
}

/* 테마 */
.btn-theme-toggle>span:first-child {
	display: none;
}

html[data-theme="dark"] .btn-theme-toggle>span:first-child {
	display: inline;
}

html[data-theme="dark"] .btn-theme-toggle>span:last-child {
	display: none;
}
/*로고*/

.logo {
  height: 4rem; /* 로고의 높이를 조정하여 크기를 변경할 수 있습니다. 필요한 크기로 조정해주세요. */
}

.container {
  justify-content: flex-around; /* 요소들을 왼쪽 정렬로 설정 */
}

/* 커스텀 */
.table-box-type-1 thead th, .table-box-type-1 tbody th,
	.table-box-type-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: #1f1f1f;
}

.btn-text-link:hover {
	text-decoration: underline;
	color: deepskyblue;
}

header>div>ul>li>ul {
	display: none;
	position: absolute;
}

header>div>ul>li:hover>ul {
	display: block;
}

/*팝업*/
.layer {
	display: none;
	width: 500px;
	height: 500px;
	background-color: skyblue;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 11;
	width: 500px;
}

.layer-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.layer>div {
	padding: 20px;
}

.close-btn {
	width: 70px;
	height: 70px;
	border: 4px solid white;
	position: relative;
}

.close-btn>div {
	background-color: red;
	height: 10%;
	width: 100%;
	position: absolute;
	top: 30%;
	left: 50%;
	transition: transform .2s cubic-bezier(1, .48, 0, .96), top .2s;
	transform: translateX(-50%) translateY(-50%) rotate(0);
}

.close-btn>div:last-child {
	top: 70%;
}

.close-btn:hover>div {
	top: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.close-btn:hover>div:last-child {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}


/* 댓글부 */
html div>form>p>button:hover {
	text-decoration: underline;
	color: red;
}

.reply>p {
	margin-top: 15px;
}
/* 메인화면 css */
@import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* 헤드 */
